.Wnow {
    display: flex;
    justify-content: center;

    .main {
        text-align: center;
        margin: 0 0 40px 0;
        img {
            width: 130px;
            height: 130px;
        }

        @mixin textBig {
            font-size: 32px;
            line-height: 38px;
        }

        @mixin medium {
            font-size: 26px;
        }

        .status {
            font-style: italic;
            font-weight: 300;
            @include textBig();
            margin: 0 0 15px 0;
        }

        #tempHeader {
            display: inline;
            font-style: medium italic;
            font-weight: 500;
            @include textBig();
            @media screen and (max-width: 1024px){
                @include medium();
            }
        }

        @media screen and (max-width: 1024px){
            .status, #tempHeader, #tempValue{
                @include medium();
            }
        }

        #tempValue {
            display: inline;
            font-style: light italic;
            font-weight: 300;
            font-size: 32px;
            line-height: 38px;
        }

        .indicators {
            margin: 15px auto 0 auto;
            padding: 15px 15px;
            display: flex;
            justify-content: space-between;
            white-space: nowrap;

            @media screen and (max-width: 1024px) and (min-width: 481px){
                padding: 15px 5px;
            }

            @mixin textSmall {
                font-size: 20px;
                line-height: 24px;
                text-align: center;
            }

            @media screen and (max-width: 480px){
                .header, .value {
                    font-size: 10px;
                }
            }

            .left {
                text-align: left;
                margin-right: 40px;
            }

            .right {
                text-align: left;
            }

            .header {
                display: inline;
                @include textSmall();
                font-style: medium italic;
                font-weight: 500;
                @media screen and (max-width: 480px) {
                    font-size: 16px;
                }
            }

            .value {
                display: inline;
                @include textSmall();
                font-style: light italic;
                font-weight: 300;
                @media screen and (max-width: 480px) {
                    font-size: 16px;
                }
            }
        }
    }

    .imgGirl {
        width: 450px;
        height: 400px;
        margin: 0 auto;

        @media screen and (max-width: 1024px) {
            width: 400px;
            height: 350px;
        }

        @media screen and (max-width: 830px) {
            display: none;
            position: absolute;
        }
    }


}