@mixin font {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.slider {
    margin: 10px 25px 0 25px;
    p {
        margin: 10px 0;
        @include font();
        text-align: center;
    }

    img {
        margin: 0 auto;
    }

}

#future {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 40px auto;
    width: 200px;
    padding: 8px 15px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    border: none;
    border-radius: 100px;
    background: conic-gradient(from 180deg at 50% 50%, #5B7EF7 -133.93deg, #85D5F8 64.17deg, #5B7EF7 226.07deg, #85D5F8 424.17deg);
}