body {
  width: 85%;
  margin: 0 auto;
  font-family: Advent Pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/background/back.png);
}

@media screen and (max-width: 900px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 95%;
  }
}
